
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
}


//general styling
#app{
  background-color: #F9FBFA;
}

.banner {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f0f1f0;
  font-family: "proxima-nova", sans-serif;;
  h2{
    color: #5A5C5B;
  }
  img{
    height: 50px;
  }
}

.center {
  text-align: center;
}

.center-button{
  margin-left: 43%
}

//login styling

.log-in-container, .sign-in-container {
   margin-top: 20px;
}

.login-field{
  width: 45%;
}

.instructions {
  font-family: "proxima-nova", sans-serif;;
  font-style: italic;
}

.time-quote{
  color: #7D7772;
  font-style: italic;
  margin-top: 10px;
}

//other styling
.thumbnails {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 30px;
  border: 1px solid #ddd;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.active {
  outline: 3px solid #43BFF6;
}

//timeline list view
.timeline-buttons {
  float: right;
  margin-bottom: 15px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.timeline-title-description {
  color: #7D7772;
  font-family: "proxima-nova", sans-serif;
  margin-top: 10px;
}

.timeline-list-info{
  display: inline-block;
  font-family: "proxima-nova", sans-serif;
}

.timeline-list-heading {
  background-color: white;
}

.create-timeline-button{
  margin-bottom: 5px;
}

//timeline styling

.timeline {
  position: relative;
  list-style: none;
  overflow: hidden;
}


li {
  display: inline-block;
}

.timeline-events-container>li:nth-child(odd){
  position: relative;
  width: 47%;
  float: right;
  margin-right: 15px;
}

.timeline-event {
  display: inline-block;
}

.timeline-events-container>li:nth-child(odd){
	position: relative;
	background: #F5F5F5;
}

.title-banner{
  text-transform: uppercase;
}

.timeline-line {
  left: 51%;
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #85BD9C;
}

.update-timeline-container {
  margin-bottom: 20px;
}

#timeline-name {
  height: 33px;
  text-transform: uppercase;
  background-color: inherit;
  border: transparent;
  font-size: 30px;
  color: #7D7772;
  text-align: center;
  width: 80%;
}

#timeline-name:focus {
  box-shadow: none;
  outline: none;
}

#timeline-description {
  height: 33px;
  background-color: inherit;
  border: transparent;
  font-size: 30px;
  color: #7D7772;
  text-align: center;
  width: 80%;
  height: 38px;
}

#timeline-description:focus {
  box-shadow: none;
  outline: none;
}

//timeline media query for responsive

@media (max-width: 767px) {
  .timeline-events{
    margin-right: 52%;
  }
  .timeline-events-container>li:nth-child(odd){
    margin-right: 52%;
    margin-left: 0;
  }
  .timeline-events-container>li:nth-child(even):after, .timeline-events-container>li:nth-child(even):before {
    content: none;
  	right: 100%;
  	top: 25%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  }

  .timeline-events-container>li:nth-child(even):after {
  	border-color: rgba(136, 183, 213, 0);
  	border-right-color: #F5F5F5;
  	border-width: 20px;
  	margin-top: -30px;
  }
  .timeline-line{
    margin-left: -48%;
  }
  .add-button{
    margin-bottom: 30px;
  }
}

@media (max-width: 415px) {
  .update-timeline-container {
    width: 50%;
  }
  .title-heading-container {
    h2{
      font-size: 20px;
    }
  }
  .timeline-event {
    width: 70%;
  }
  .navbar {
    h3 {
      text-align: center;
    }
  }
  .nav-spans {
    margin-left: 10px;
  }
  .timeline-list-heading {
    h2 {
      font-size: 15px;
    }
    span {
      float: left;
    }
  }
  #timeline-name {
    font-size: 30px;
    margin-left: 50%
  }
  #timeline-description {
    font-size: 20px;
    margin-left: 50%
  }
}

/* for timeline event carrot on left side */
.timeline-events-container>li:nth-child(odd):after, .timeline-events-container>li:nth-child(odd):before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-events-container>li:nth-child(odd):after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #F5F5F5;
	border-width: 20px;
	margin-top: -30px;
}

/* for timeline event carrot on right side */

.timeline-events-container>li:nth-child(even){
	position: relative;
	background: #F5F5F5;
  width: 47%;
  float: left;
  margin-top: 20px;
  clear: both;
}
.timeline-events-container>li:nth-child(even):after, .timeline-events-container>li:nth-child(even):before {
	left: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


.timeline-events-container>li:nth-child(even):before {
	border-color: rgba(245, 245, 245, 0);
	border-left-color: #F5F5F5;
	border-width: 20px;
	margin-top: -30px;
}

//event styling

.event-description {
  color: #7D7772;
  font-style: italic;
  margin-top: 10px;
  border: none;
  background-color: #F5F5F5;
  width: 90%;
}

.event-description:focus {
  box-shadow: none;
  outline: none;
}

.event-date {
  background-color: #F5F5F5;
  border: none;
  box-shadow: none;
}

//nav styling
.title-header{
  color: #5A5C5B;
}
.nav-spans{
  float: none;
  color: #76BE9D;
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.nav-spans-container {
  margin-left: 16px;
}

h3{
  img{
    height: 50px;
  }
}

//buttons
.add-button{
  margin-top: 50px;
  margin-left: 50%;
  color: #85BD9C;
  font-size: 35px;
  position: fixed;
  z-index: 9;
}

.login-button {
  color: #4eab79;
  border: 1px solid #4eab79;
  background-color: rgba(78,171,121,0.2);
}

.login-button:hover{
  background-color: #4EAB79;
  color: white;
}

.delete-button {
  background-color: #FAE1E1;
  border: 1px solid #ef6666;
  color: #EF6666;
  margin: 2px;
}

.delete-button:hover{
  color: white;
  background-color: #ef6666;
}

//timeline animations, credit to https://codyhouse.co/gem/vertical-timeline/

.cssanimations .timeline-event.is-hidden {
  visibility: hidden;
}

.cssanimations .timeline-event.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
