
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.banner {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f0f1f0;
  font-family: "proxima-nova";
}

.login-button {
  color: #4eab79;
  border: 1px solid #4eab79;
  background-color: rgba(78,171,121,0.2);
}

.log-in-container, .sign-in-container {
   margin-top: 20px;
}

.instructions {
  font-family: "proxima-nova";
  font-style: italic;
}

.thumbnail {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 30px;
}

.add-button{
  margin-top: 50px;
  margin-left: 50%;
  color: #53B0AB;
  font-size: 35px;
}

.timeline {
  position: relative;
  list-style: none;
}

.timeline::before {
  margin-left: 48%;
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  content: '';
  background-color: #53B0AB;
}

li {
  display: inline-block;
  margin-left: -7%;
}

.timeline-events-container>li:nth-child(odd){
  position: relative;
  margin-left: 52%;
}

.timeline-event {
  display: inline-block;
}

.timeline-events-container>li:nth-child(odd){
	position: relative;
	background: #F5F5F5;
}

/* for timeline event carrot on left side */
.timeline-events-container>li:nth-child(odd):after, .timeline-events-container>li:nth-child(odd):before {
	right: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-events-container>li:nth-child(odd):after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #F5F5F5;
	border-width: 20px;
	margin-top: -30px;
}

/* for timeline event carrot on right side */

.timeline-events-container>li:nth-child(even){
	position: relative;
	background: #F5F5F5;
}
.timeline-events-container>li:nth-child(even):after, .timeline-events-container>li:nth-child(even):before {
	left: 100%;
	top: 25%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

// .timeline-events-container>li:nth-child(even):after {
// 	border-color: rgba(245, 245, 245, 0);
// 	border-left-color: #F5F5F5;
// 	border-width: 30px;
// 	margin-top: -30px;
// }
.timeline-events-container>li:nth-child(even):before {
	border-color: rgba(245, 245, 245, 0);
	border-left-color: #F5F5F5;
	border-width: 20px;
	margin-top: -30px;
}
